<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    <meta name="google-signin-client_id"
        content="201547256682-tji1tpche5ou5jmr9f7dujhskd6b66ic.apps.googleusercontent.com">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'login_reg/css/style.css' %}">
    <title>Dojo Yoga</title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0&appId=521904618378953&autoLogAppEvents=1"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/home/">
            <img src="https://cutecdn.codingdojo.com/images/global/coding_dojo_logo_white_new.png" width="90"
                height="30" class="d-inline-block align-top" alt="">
            Coding Yoga Dojo
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Courses</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Instructors
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Navya</a>
                        <a class="dropdown-item" href="#">Cody</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Bryanna</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Tuition</a>
                </li>
            </ul>
        </div>
        <div class="my-2 my-lg-0">
            <a class="btn btn-primary" href="../login/register/" role="button">Register</a>
            <a class="btn btn-success" href="../login/" role="button">Login</a>
        </div>
    </nav>

    <main class="loginWrapper">
        <div class="loginForm text-center">
            <form class="text-left" method="POST" action="/login/logging_in/">
                {% csrf_token %}
                <h2 class="text-center">Login</h2>
                <div class="form-group">
                    <label for="login_email">Email address</label>
                    <input type="text" class="form-control" id="login_email" name="login_email"
                        aria-describedby="emailHelp" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="login_password">Password</label>
                    <input type="password" class="form-control" id="login_password" name="login_pw"
                        placeholder="Password">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="form-group">
                    <label>Don't have an account yet?</label>
                    <a href="../login/register/">Create an Account</a>
                </div>

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    {% if message.extra_tags == 'login_fail' %}
                    <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
                {% endif %}
            </form>

            <hr>

            <!-- Google and Facebook login Here -->
            <div class="text-left">
                <div id="my-signin2"></div>
                <br>
                <div class="fb-login-button" data-width="" data-size="large" data-button-type="login_with"
                    data-auto-logout-link="false" data-use-continue-as="false"></div>
            </div>
        </div>
    </main>

    <script src="{% static 'login_reg/js/login.js' %}"></script>

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '521904618378953',
                cookie: true,
                xfbml: true,
                version: 'v4.0'
            });

            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });

        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        function statusChangeCallback(response) {
            if (response.status === 'connected') {
                console.log('you have logged in');
            } else {
                console.log('not logged in');
            }
        }

        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }
    </script>
</body>

</html>